body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header{background-color: orange;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;}

header h1{ color: red;
            font-size: 40px;
            }

header img{
        border-radius: 150px;
        border: 10px solid #483a91;
}

main{
        max-width: 800px;
        margin: 0 auto;
    
}
h2{
        font-size: 35px;
        color: salmon;
}


main img{
        max-width: 100%;
}

a{
    color: slateblue;
}

a:hover{color: teal;}

footer{
        background-color: orange;
        text-align: center;
        color: white;
        padding: 50px;
}

p.caption{
        color: #999999;
        font-style: italic;

}